<h1>Hello <%=@user.username %>!</h1>

<div class="col-6">
<% @lists.each do |list|%>
  <% if list.user_id == @user.id %>
    <h2><%= list.name %></h2>
    <a href="/lists/<%=list.id%>/edit"><i class="fa fa-pencil"></i> Edit</a>
    <a href="/lists/<%=list.id%>/delete"><i class="fa fa-times"></i> Delete</a>
    <h4><a href="tasks/new/<%=list.id%>"><i class="fa fa-plus"></i> New Task</a></h4>

    <% list.tasks.each do |task| %>
      <h4><i class="fa fa-minus"></i> <%= task.name %></h4>
      <a href="/tasks/<%= task.id %>/edit"><i class="fa fa-pencil"></i>Edit</a>
      <a href="/tasks/<%= task.id %>/delete"><i class="fa fa-times"></i>Delete</a>
    <% end %>
  <% end %>
<% end %>
</div>
